.headerProfileBlock {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px;
    grid-template-areas: "avatar loginName logout";
}

.avatar {
    grid-area: avatar;
}

.avatar img {
    width: 40px;
    border-radius: 50%;
}

.loginName {
    grid-area: loginName;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.logout {
    grid-area: logout;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginName a{
    color: white;
    text-decoration: none;
    line-height: 15px;

}

.loginName a:hover{
    color: gold;
}