.dialogs {
    display: grid;
    grid-template-columns: 3fr 10fr;
}
.dialogsItems {
    padding: 20px;
}
.dialog {
    height: 50px;
    line-height: 50px;
}

.dialog:hover {
    background-color: grey;
    border-radius: 5px;
}


.dialog .active{
    color: blue;
}

.dialogsItems a {
    text-decoration: none;
    color: black;
}

.dialogsItems a:hover {
    text-decoration: none;
    color: white;

}

.dialogName {
    display: grid;
    grid-template-columns: 50px 60%;

}

.messages {
    padding: 10px;
}

.messages .message{

}

.name {
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
}
.avatar {
    margin: 5px;
}
.avatar img {
    width:40px;
    height:40px;
    border-radius: 20px;
}
